
/* CSS properties only for the style guide and citations page

**************************************************************************************************/

/* header ======================================== */

#guide-header {
  margin: 3% 6%;
  text-align: center;
}

#guide-header h1 {
  margin-top: 2%;
  color: #878787;
  font-size: 1.5rem;
}

#guide-header #ab-logo {
  display: block;
  margin: auto;
  width: 7%;
  height: 7%;
}

/* table of contents ============================= */

/* overwrite nav styling from main.css */
#guide-toc {
  filter: drop-shadow(0.9rem 0.9rem 0.9rem #9F9F9F);
  background-color: #6B6874;
  border-radius: 100px;
  margin: 0 6%;
  padding: 3% 6%;
  opacity: 0.6;
  transition: 0.8s;
}

#guide-toc:hover {
  opacity: 1;
}

#guide-toc a {
  margin: 0 6%;
  color: #ECEBEC;
}

#guide-toc a:hover, #guide-toc a:active, #guide-toc a:focus {
  color: white;
}

/* style guide =================================== */

#guide-content {
  margin: 7% 6%;
}

/* add spacing to the bottom of each section */
#guide-content section {
  padding-top: 1.5%;
  margin-bottom: 7%;
}

/* section headers */
#guide-content h2 {
  text-align: center;
}

/* separator lines */
#guide-content .rendered-h3::after {
  display: block;
  content: '';
  width: 100%;
  border-top: 1px solid #C9C9C9;
  margin: 2% 0 5% 0;
}

/* rendered element section column */
.rendered h2 {
  text-align: left !important;
}

.code {
  border: 1px solid #C9C9C9;
  padding: 3%;
}

code {
  font-family: monospace;
  color: #878787;
}

/* navbar style */
#navigation nav {
  background-color: white;
}

/* colour swatches */
#swatches {
  text-align: center;
}

#swatches p {
  padding: 5rem 0;
}

.white        { background-color: white; }
.grey-light   { background-color: #CCC; }
.grey         { background-color: #878787; color: #CCC; }
.purple-light { background-color: #8B8991; color: #CCC; }
.purple       { background-color: #484452; }
.purple-dark  { background-color: #2E2A3A; }
.grey-dark    { background-color: #272727; }
