
/* CSS properties for the portfolio website & branding

**************************************************************************************************/

/* grid structure ================================ */

/* all properties */
*, *::after, *::before {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

/* flexbox (container) */
.box {
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-box;
  display: flex;
}

/* columns (different flex sizes) */
.box-col1 { flex: 1; }
.box-col2 { flex: 2; }
.box-col3 { flex: 3; }

.box-col1, .box-col2, .box-col3 {
  margin: 2% 1%;
  padding: 1%;
}

/* 
to be applied to columns that 
don't need margin or padding
*/
.no-space {
  margin: 0;
  padding: 0;
}

/* text & background ============================= */

body {
  font-family: DIN-Mitt, sans-serif;
  background: linear-gradient(white, #D3D2D5);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 { 
  font-size: 1.875rem;
}

h2 { 
  font-size: 1.375rem;
}

h1, h2 {
  font-family: DIN-Eng, sans-serif;
  text-transform: uppercase;
  letter-spacing: 15px;
  color: #252525;
}

h3 { 
  font-size: 1.1rem;
  color: #252525; 
}

p {
  color: #878787;
}

/* header (navbar) =============================== */

nav {
  font-family: DIN-Eng;
  padding: 3% 6%;
  text-align: center;
  background-color: white;
}

nav a {
  margin: 0 4%;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #727272;
  transition: 0.3s;
}

nav a:hover, nav a:active, nav a:focus {
  color: black;
  letter-spacing: 4px;
}

/* landing section =============================== */

#intro {
  background: linear-gradient(white, #484452);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85%;
}

/* portfolio logo */
#intro #ab-logo {
  width: 22%;
  filter: drop-shadow(0.9rem 0.9rem 0.9rem #656565);
}

/* name */
#intro h1 {
  text-align: center;
  color: #CCC;
  font-size: 1.2rem;
  margin-top: 3%;
}

/* description */
#intro p {
  text-transform: uppercase;
  text-align: center;
  color: #3C3C3C;
  font-size: 0.9rem;
  margin-top: 2%;
}

/* projects section ============================== */

#projects {
  padding: 5% 6%;
  height: 100%;
}

#projects h2 {
  text-align: center;
}

/* placeholder stuff ************ */
.placeholder-img {
  background-color: white;
  text-align: center;
  transition: 0.3s;
}

#projects .placeholder-img:hover {
  filter: drop-shadow(0.9rem 0.9rem 0.9rem #9F9F9F);
  cursor: pointer;
}
/* ****************************** */

/* about section ================================= */

#about {
  background: linear-gradient(#484452, #2E2A3A);
  padding: 5% 6%;
  height: 100%;
}

#about h1 {
  color: #CCC;
}

/* footer ======================================== */

footer {
  background-color: #272727;
  padding: 6rem 5rem;
  text-align: center;
}







