
/* CSS properties for the portfolio website & branding

**************************************************************************************************/

/* grid structure ================================ */

/* all properties */
*, *::after, *::before {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

/* flexbox (container) */
.box {
  display: -webkit-flex;
  display: -ms-flex;
  display: -moz-box;
  display: flex;
}

/* columns (different flex sizes) */
.box-col1 { flex: 1; }
.box-col2 { flex: 2; }
.box-col3 { flex: 3; }

.box-col1, .box-col2, .box-col3 {
  margin: 2% 1%;
  padding: 1%;
}

/* 
to be applied to columns that 
don't need margin or padding
*/
.no-space {
  margin: 0;
  padding: 0;
}

/* animations ==================================== */

/* fade-in effect */
@keyframes fadeIn {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}

/* whole page fade-in */
html {
  animation: fadeIn 2.5s forwards;
  animation-delay: 0.2s;
  opacity: 0;
}

/* text & background ============================= */

body {
  font-family: DIN-Mitt, sans-serif;
  background: linear-gradient(white, #D3D2D5);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 { 
  font-size: 1.625rem;
}

h2 { 
  font-size: 1.375rem;
}

h1, h2 {
  font-family: DIN-Eng, sans-serif;
  text-transform: uppercase;
  letter-spacing: 12px;
  color: #272727;
}

h3 { 
  font-size: 1.1rem;
  color: #272727; 
}

p {
  color: #878787;
}

a {
  color: #6B6874;
  transition: 0.3s;
}

a:hover {
  color: #272727;
  letter-spacing: 1px;
}

/* lists ========================================= */

ul, ol {
  color: #878787;
  line-height: 2.5rem;
}

ul {
  list-style-type: square;
}

/* buttons ======================================= */

/* for all buttons */
.button {
  text-decoration: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  font-size: 1rem;
  width: 10rem;
  opacity: 1;
  transition: 0.3s;
}

.button:hover {
  letter-spacing: normal;
}

.btn-spacing {
  margin-top: 13%;
}

/* DARK versions ------------ */

.btn-primary {
  background-color: #6B6874;
  color: #F5F4F5;
  border: 0.1rem solid transparent;
}

.btn-primary:hover {
  background-color: #272727;
  color: white;
}

.btn-secondary {
  background-color: transparent;
  color: #6B6874;
  border: 0.1rem solid #6B6874;
}

.btn-secondary:hover {
  color: #272727;
  border-color: #272727;
  background-color: rgba(255, 255, 255, 0.7);
}

/* LIGHT versions ----------- */

.btn-primary-light {
  background-color: #CCC;
  color: #2E2A3A;
  border: 0.1rem solid transparent;
}

.btn-primary-light:hover {
  background-color: white;
}

.btn-secondary-light {
  background-color: transparent;
  color: #CCC;
  border: 0.1rem solid #CCC;
}

.btn-secondary-light:hover {
  color: white;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

/* text input field ============================== */

label {
  display: block;
}

input {
  margin: 0.7rem 0 2rem 0;
  padding: 0.7rem;
  width: 70%;
  color: #878787;
  border-radius: 5px;
  border: 1px solid #CCC;
}

/* header (navbar) =============================== */

nav {
  font-family: DIN-Eng;
  padding: 3% 6%;
  text-align: center;
}

nav a {
  margin: 0 4%;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #727272;
  transition: 0.3s;
}

nav a:hover, nav a:active, nav a:focus {
  color: black;
  letter-spacing: 4px;
}

/* landing section =============================== */

/* only for landing section navbar */
#home-header nav {
  background-color: white;
}

/* entire landing section */
#intro {
  background: linear-gradient(white, #484452);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85%;
}

/* logo fade-in */
#intro #ab-logo {
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
  opacity: 0;
}

/* portfolio logo */
#intro #ab-logo {
  width: 22%;
  filter: drop-shadow(0.9rem 0.9rem 0.9rem #656565);
}

/* name */
#intro h1 {
  text-align: center;
  color: #CCC;
  font-size: 1.2rem;
  margin-top: 3%;
}

/* description */
#intro p {
  text-transform: uppercase;
  text-align: center;
  color: #3C3C3C;
  font-size: 0.9rem;
  margin-top: 2%;
}

/* project list section ========================== */

#project1, #project2, #project3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.3s;
}

#project1 {
  /* test bg image */
  background-image: url('../img/placeholder.png');
}

#project2 {
  /* test bg image */
  background-image: url('../img/placeholder.png');
}

#project3 {
  /* test bg image */
  background-image: url('../img/placeholder.png');
}

.project {
  padding: 5% 6%;
  height: 100%;
  align-items: center;
}

.project h2 {
  text-align: center;
}

/* [placeholder] */
.placeholder-img {
  background-color: white;
  text-align: center;
  transition: 0.3s;
}

/* [placeholder, for project list only] */
#projects .placeholder-img:hover {
  filter: drop-shadow(0.9rem 0.9rem 0.9rem #9F9F9F);
  cursor: pointer;

  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

/* about section ================================= */

#about {
  background: linear-gradient(#484452, #2E2A3A);
  padding: 5% 6%;
  height: 100%;
  align-items: center;
}

#about h1 {
  color: #CCC;
}

/* footer ======================================== */

footer {
  background-color: #272727;
  padding: 6rem 5rem;
  text-align: center;
}

/* project page ================================== */

#overview {
  height: 85%;
  margin: 0 6%;
  align-items: center;
}

.project-type {
  margin-bottom: 10%;
}

/* placeholder img */
.test-img {
  display: block;
  margin: auto;
  width: 20%;

  /* img fade-in */
  animation: fadeIn 1s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.process {
  height: 100%;
  padding: 5% 6%;
  align-items: center;
}

/* contact page ================================== */

.current {
  color: #272727;
}

#contact {
  height: 85%;
  margin: 0 6%;
  align-items: center;
}
