
/* 768px */
@media (max-width: 48em) {
  .box {
    flex-direction: column;
  }

  /* re-style and re-position all buttons */
  .button {
    display: block;
    margin: auto;
    width: 20rem;
    padding: 1rem 2rem;
    text-align: center;
  }

  /* project list section ========================== */

  /* center the text in project list section */
  .project h1, .project p {
    text-align: center;
  }
}