
/* 768px */
@media (max-width: 48em) {

  /* grid structure ================================ */
  .box {
    flex-direction: column;
  }

  .box .box-col2 {
    display: flex;
    align-items: center;
  }

  /* buttons ======================================= */

  /* re-style and re-position all buttons */
  .button {
    display: block;
    margin: auto;
    width: 20rem;
    padding: 1rem 2rem;
    text-align: center;
  }

  /* project list section ========================== */

  .project h1, .project p {
    text-align: center;
  }

  #project1, #project2 {
    background-position: center 20%;
  }

  #project1 .box-col1, #project2 .box-col1 {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
  }

  /* about section ================================= */

  #about {
    height: 110%;
  }

  #about h1 {
    text-align: center;
  }

  /* footer ======================================== */

  footer {
    text-align: center;
  }

  footer img {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  /* project page ================================== */

  #overview h1, #overview p, .process h2 {
    text-align: center;
  }
}

/* 600px */
@media (max-width: 37.5em) {

  /* project list section ========================== */

  #project1, #project2 {
    background-size: 90%;
  }
}



