
/* 768px **********************************************************************************************/

@media (max-width: 48em) {

  .angle {
    height: 15vh;
  }

  /* grid structure ================================ */

  .box {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* contrain everything inside container */
  .box .box-col2 {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
  }

  /* remove offset spacing to center everything */
  .space-right {
    margin: 3%;
    padding: 1%;
  }

  .space-left {
    margin: 3%;
  }

  /* center all content in .box-col1 */
  .shadow-box .box-col1, .shadow-box-small .box-col1 {
    text-align: center;
  }

  /* nav =========================================== */

  nav.box {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* make logo bigger */
  nav img {
    width: 5rem;
  }

  nav .box-col1 {
    text-align: center;
    width: 100%;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
  }

  .nav-item {
    display: block;
    margin: 1.5rem 0;
  }

  /* text ========================================== */

  h2 {
    text-align: center;
  }

  /* landing section =============================== */

  #main {
    text-align: center;
  }

  #main .box-col1 {
    align-self: center;
  }

  /* project list ================================== */

  .box-col1.space-right {
    width: 100%;
  }

  #ux-ui .box-col1 {
    background-color: rgba(0, 0, 0, 0.65);
  }

  #visual-design .box-col1 {
    background-color: rgba(255, 255, 255, 0.9);
  }

  /* project pages ================================= */

  .overview .box-col1 {
    align-self: center;
    text-align: center;
  }

  .process .box-col1 {
    -webkit-flex: 0;
    -ms-flex: 0;
    flex: 0;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .full-span p {
    max-width: 100%;
  }

  #ux-ui-process .box-col1 {
    background-color: rgba(207, 165, 62, 0.8);
  }

  #visual-design-process .box-col1 {
    background-color: transparent;
  }

  /* buttons ======================================= */

  #back-arrow-container {
    display: none;
    visibility: hidden;
  }

  /* footer ======================================== */

  footer {
    text-align: center;
  }

  footer .box-col1 {
    align-self: center;
    }

  footer img {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* 425px **********************************************************************************************/

@media (max-width: 26.563em) {

  h1 {
    font-size: 1.8rem;
  }

  .angle {
    height: 10vh;
  }

  /* project list ================================== */

  #ux-ui .box-col1,
  #visual-design .box-col1 {
    background-color: transparent;
  }

  /* project pages ================================= */

  .process .box-col1,
  #ux-ui-process .box-col1 {
    background-color: transparent;
  }
}

